################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore Visual Studio temporary files
.vs/
bin/
obj/s
*.user
*.suo
*.userosscache
*.sln.docstates

/CICDDemo/obj
/CICDDemo/Properties
/CICDDemo/appsettings.Development.json
*.Secret.json
.env